<div class="main">
	<div class="round-info">
		<h4>第99局</h4>
		<div class="his-panel">
			<div class="his his-l">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
			<div class="his his-r">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="round-info">
		<h4>第99局</h4>
		<div class="his-panel">
			<div class="his his-l">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
			<div class="his his-r">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="history-pagination"></div>
</div>
<%= render :partial => "/partials/side" %>