<div class="main">
	<div class="round">第100局</div>
	<h4>45s</h4>
	<div class="vs">
		<div class="vs-l"></div>
		<div class="vs-m">vs</div>
		<div class="vs-r"></div>
	</div>
	<div class="last-round">
		<h4>99</h4>
		<div class="his his-l">
			<ul>
				<li><span>1$ + 1$</span>xxx</li>
			</ul>
		</div>
		<div class="his his-r">
			<ul>
				<li><span>1$ + 1$</span>xxx</li>
			</ul>
		</div>
	</div>
</div>
<div class="side">
	<div class="user-info">
		<h4>my account</h4>
		<div class="user-coins">total coins: 884$</div>
		<ul>
			<li><span>+2$</span>100</li>
		</ul>
		<p><a href="#">More..</a></p>
	</div>
	<div class="ranks">
		<ul class="tabs">
			<li>day ranks</li>
			<li>week ranks</li>
			<li>total ranks</li>
		</ul>
		<ul class="rank-list">
			<li><span>100$</span>XXX</li>
			<li><span>100$</span>XXX</li>
			<li><span>100$</span>XXX</li>
		</ul>
	</div>
</div>
