<div class="main">
	<div class="game-panel">
		<% if @sys_info.game_status == "started" %>
		<div class="round">第<%= @round.no %>局</div>
		<h4>还剩 <span>00:45</span></h4>
		<div class="vs">
			<div class="vs-l"></div>
			<div class="vs-m">vs</div>
			<div class="vs-r"></div>
		</div>
		<% else %>
		游戏暂停中
		<% end %>
	</div>
	<% if !@last_round.nil? %>
	<div class="round-info">
		<h4>第<%= @last_round.no %>局</h4>
		<div class="his-panel">
			<div class="his his-l">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
			<div class="his his-r">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
		</div>
	</div>
	<p class="his-more"><a href="/users/main">历史&gt;&gt;</a></p>
	<% else %>
	<div style="height:40px;"></div>
	<% end %>
</div>
<%= render :partial => "/partials/side" %>
