<div class="main">
	<div class="round-info">
		<h4>第99局</h4>
		<div class="his-panel">
			<div class="his his-l">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
			<div class="his his-r">
				<ul>
					<li><span>1$ + 1$</span>xxx</li>
				</ul>
			</div>
		</div>
	</div>
	<p style="padding:20px 66px 20px 0;text-align:right;"><a href="/user-more">返回</a></p>
</div>
<%= render :partial => "/partials/side" %>