<div class="main">
	<div class="user-coins">总币数: 884$</div>
	<ul class="user-rounds">
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
		<li><a href="/round-history">详细</a><span>+2$</span>第99局</li>
	</ul>
	<div class="user-rounds-pagination"></div>
</div>
<%= render :partial => "/partials/side" %>