
<ul class="operations clearfix">
	<li><a href="/admin/sys_reset">系统重置</a></li>
</ul>

<div class="panel">
<% if @sys_info.game_status == "stopped" %>
<% action = "/admin/start_game" %>
<% else %>
<% action = "/admin/stop_game" %>
<% end %>
<%= form_tag action do %>
<table class="com-tb">
	<thead>
		<tr>
			<th>游戏状态</th>
			<th>当前局数</th>
			<th>开始时间</th>
			<th>回收硬币</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% case @sys_info.game_status %>
				<% when "stopped" %>
				<font style="color:#FF0000;">停止</font>
				<% when "paused" %>
				<font style="color:orange;">暂停</font>
				<% when "started" %>
				<font style="color:green;">进行中</font>
				<% end %>
			</td>
			<td><%= @sys_info.round_no %></td>
			<td><%= @sys_info.started_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
			<td><%= @sys_info.recycle_coins %></td>
			<td>
				<% if @sys_info.game_status == "stopped" %>
				<input type="submit" name="start_game" value="开始游戏" class="sbt" />
				<% else %>
				<input type="submit" name="stop_game" value="停止游戏" class="sbt" />
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
<% end %>
</div>
